<h2 mat-dialog-title>Note password</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>password:</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        data-testid="notePassword" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button data-testid="noteDecodeButton" (click)="onDecodeClick()">
    Show
  </button>
  <button
    mat-button
    data-testid="categoryCancelButton"
    (click)="onCancelClick()">
    Cancel
  </button>
</mat-dialog-actions>
