<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Content</mat-label>
    <textarea matInput formControlName="content"></textarea>
  </mat-form-field>

  <mat-checkbox formControlName="isEncrypted">encrypt</mat-checkbox>

  <div *ngIf="noteForm.get('isEncrypted')?.value">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" [disabled]="!noteForm.valid" type="submit">Submit</button>
</form>
